name: 每日同步上游仓库到 18.06

on:
  schedule:
    - cron: '0 4 * * *'  # 每天中午12点（UTC+8）
  workflow_dispatch:

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - name: 检出当前仓库（18.06 分支）
        uses: actions/checkout@v4
        with:
          ref: 18.06
          token: ${{ secrets.GITHUB_TOKEN }}
          persist-credentials: true

      - name: 配置 Git 用户信息
        run: |
          git config --global user.name "GitHub Actions"
          git config --global user.email "actions@github.com"

      - name: 克隆上游仓库
        run: |
          mkdir sync
          cd sync
          declare -A repos=(
            ["luci-app-argon-config"]="https://github.com/jerrykuku/luci-app-argon-config -b 18.06"
            ["luci-theme-argon"]="https://github.com/jerrykuku/luci-theme-argon -b 18.06"
            ["luci-theme-design"]="https://github.com/0x676e67/luci-theme-design"
            ["luci-app-design-config"]="https://github.com/0x676e67/luci-app-design-config"
            ["luci-theme-neobird"]="https://github.com/thinktip/luci-theme-neobird.git"
            ["luci-app-lucky"]="https://github.com/gdy666/luci-app-lucky.git"
            ["luci-app-filebrowser"]="https://github.com/xiaozhuai/luci-app-filebrowser -b 18.06"
            ["luci-app-GoWebDav"]="https://github.com/ToDesk/luci-app-GoWebDav.git"
            ["luci-app-poweroff"]="https://github.com/esirplayground/luci-app-poweroff"
            ["luci-app-store"]="https://github.com/db-one/dbone-packages -b 18.06"
          )

          for name in "${!repos[@]}"; do
            echo "正在克隆 $name ..."
            git clone --depth=1 ${repos[$name]} "$name"
            rm -rf "$name/.git"
            if [[ "$name" == "luci-app-store" ]]; then
              mv "$name/luci-app-store" "$name-temp"
              rm -rf "$name"
              mv "$name-temp" "$name"
            fi
          done

      - name: 拷贝到主目录并清理
        run: |
          cp -a sync/* ./
          rm -rf sync

      - name: 提交并推送更改
        run: |
          if [ -n "$(git status --porcelain)" ]; then
            time=$(date '+%Y年%m月%d日 %H时%M分%S秒')
            git add .
            git commit -m "更新时间：$time"
            git remote set-url origin https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }}.git
            git push
          else
            echo "无变化，无需提交"
          fi

      - name: 清理历史 Workflow 运行记录
        uses: Mattraks/delete-workflow-runs@v2
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          retain_days: 0
          keep_minimum_runs: 0
